<html>

<body bgcolor= #778899>

    <head>
        <div style="display:flex; flex-wrap:wrap; justify-content: center; align-items: center;">
            <h1> RECOMMENDED TO 5 MOVIES </h1>
            <div />

            <div style="display:flex; flex-wrap:wrap;   margin: 25px; ">
                <h1> User Id :{{user}} </h1>
                <div />

                <div style="display:flex; flex-wrap:wrap; ">

                    <div style="display:flex; flex-wrap:wrap; padding-top: 100px; justify-content: center; align-items: center;   margin: 25px;">
                        <div class="container">
                            <img src={{posters[0]}} alt="Movie 1" , width="250" , height="300" />
                            <div class="footer">
                                <p>{{names[0]}}</p>
                            </div>
                        </div>
                    </div>

                    <div style="display:flex; flex-wrap:wrap; padding-top: 100px; justify-content: center; align-items: center;   margin: 25px;">
                        <div class="container">
                            <img src={{posters[1]}} alt="Movie 2" , width="250" , height="300" />
                            <div class="footer">
                                <p>{{names[1]}}</p>
                            </div>
                        </div>
                    </div>

                    <div style="display:flex; flex-wrap:wrap; padding-top: 100px; justify-content: center; align-items: center;   margin: 25px;">
                        <div class="container">
                            <img src={{posters[2]}} alt="Movie 3" , width="250" , height="300" />
                            <div class="footer">
                                <p>{{names[2]}}</p>
                            </div>
                        </div>
                    </div>

                    <div style="display:flex; flex-wrap:wrap; padding-top: 100px; justify-content: center; align-items: center;   margin: 25px;">
                        <div class="container">
                            <img src={{posters[3]}} alt="Movie 4" , width="250" , height="300" />
                            <div class="footer">
                                <p>{{names[3]}}</p>
                            </div>
                        </div>
                    </div>

                    <div style="display:flex; flex-wrap:wrap; padding-top: 100px; justify-content: center; align-items: center;   margin: 25px;">
                        <div class="container">
                            <img src={{posters[4]}} alt="Movie 5" , width="250" , height="300" />
                            <div class="footer">
                                <p>{{names[4]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-wrap:wrap; justify-content: center; padding-top: 50;">
                    <a href='/'>go back to home page</a>

                </div>

                <ul class="brands">
                         <li class="brands__item">
                             <a href="#">
                                 <img src="static\logo.jpg" alt="" align="right" width="200" height="200" />
                             </a>

</ul>

    </head>

</body>

</html>