<html>
    <body bgcolor=#708090>

        <center>

        <img src='static\logo.jpg' alt="logo", width="400", height="300">
        <h1> WIZARD TALES DEMO PAGE </h1><br>
        <h1> MOVIE RECOMMENDATION SYSTEM </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> User ID :  <input type="text", name='userıd', placeholder="Please enter a User Id"> <br><br> </b>
            <input type="submit" , value='Recommend!' >
        </form>

    </center>

    </body>
</html>